<section style="padding-top: 5%; padding-left: 0.5%">
  <div class="container">
    <div>
      <div>
        <h2>Services offered at OrangeHRM</h2>
        <p class="lead">
          We provide implementation, training, customizations and management
          consultation
        </p>
        <div style="font-size: 18px;">
          <p>
            OrangeHRM is dedicated to the success of our customers. We deliver
            high quality products, services and outstanding business value. Get
            the most from your investment by using human resource management
            services tailored to meet your unique business needs. We offer
            flexible, knowledgeable customer support and system maintenance. Use
            our expertise and enjoy the freedom to focus on what matters most to
            you—serving your clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h3>Open Source Edition</h3>
        <br />
        A free, feature-rich, intuitive software offering a robust HR
        environment.<br />
        <div style="font-size: 18px;">
          OrangeHRM Open Source is a free and open source HR software that
          offers a wealth of modules to suit the needs of your business. This
          widely-used HR management system is feature-rich, intuitive and
          provides an essential HR management platform along with free
          documentation and access to a broad community of users. Follow this
          link if you are looking for Premier Open Source Support.
        </div>
        <br />
        <div>
          <h3>Experience the Privileged Features of our Enterprise Version</h3>
          <br />
          <div style="font-size: 18px;">
            Experience our unlimited human resource advancements where you and
            your employees can benefit from a diversity of rich enhanced
            solutions. OrangeHRM Enterprise presents you with much more
            contentful and detailed privileges than our Open Source. Click down
            below if you would like to see what OrangeHRM enterprise is capable
            of more than OrangeHRM open source.
          </div>
        </div>
      </div>
      <div class="col-lg-4 ml-auto">
        <div class="mb-3">
          <img
            src="assets/ccc.jpg"
            alt="img"
            style="height: 400px; width: 550px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
