<section class="jumbotron text-center">
  <div class="container">
    <h5>
      OrangeHRM has an array of modules that cater to all your HR needs
      throughout the employee life cycle.
    </h5>
    <br />
  </div>

  <div class="container">
    <div class="row mb-5"></div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-career"></span>
          </div>
          <div>
            <h3>System Administration & User Roles</h3>
            <p>
              Control workflows, authorized users and carry out all
              administration and function with ease
            </p>
            <br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-bill"></span>
          </div>
          <div>
            <h3>Personnel Information Management (PIM)</h3>
            <p>
              Simplify your HR data, centralizing all your employee data, no
              matter where you're located in the world.
            </p>
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-customer-service"></span>
          </div>
          <div>
            <h3>Leave/ Time off Management</h3>
            <p>
              Create and manage multiple types of leave across your
              organization.
            </p>
            <br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-plan"></span>
          </div>
          <div>
            <h3>Time & Attendance Management</h3>
            <p>
              Track the time utilization, pay rules overtime for projects and
              employees’ work efficiency through our flexible time module.
            </p>
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-growth"></span>
          </div>
          <div>
            <h3>Performance</h3>
            <p>
              Continuous tracking of employees performance with advanced metrics
              such as OKRs to dynamic objectives.
            </p>
            <br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-growth"></span>
          </div>
          <div>
            <h3>Recruitment</h3>
            <p>
              Streamline the hiring cycle with our recruitment and onboarding
              module.
            </p>
            <br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-growth"></span>
          </div>
          <div>
            <h3>Performance</h3>
            <p>
              Continuous tracking of employees performance with advanced metrics
              such as OKRs to dynamic objectives.
            </p>
            <br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-growth"></span>
          </div>
          <div>
            <h3>Travel & Expense Tracker</h3>
            <p>
              Keep a close eye on your expenses, while sufficiently allocating
              funds to needs.
            </p>
            <br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-award"></span>
          </div>
          <div>
            <h3>Recruitment</h3>
            <p>
              Streamline the hiring cycle with our recruitment and onboarding
              module.
            </p>
            <br /><br />
            <p>
              <button type="button" class="btn btn-outline-warning">
                Learn More
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="section footer-section background-color">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled link">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Oqtave labs</a></li>
          <li><a href="#">Executive profile</a></li>
          <li><a href="#">Press release</a></li>
          <li><a href="#">News articals</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled link">
          <li><a href="#">Learn More</a></li>
          <li><a href="#">Blog </a></li>
          <li><a href="#">Forum </a></li>
          <li><a href="#"> Road Map </a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled link">
          <li><a href="#">Security Policy </a></li>
          <li><a href="#">Privacy Policy </a></li>
          <li><a href="#"> Service Privacy Policy </a></li>
          <li><a href="#"> General Public License </a></li>
          <li><a href="#">Business Policy</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-5 pr-md-5 contact-info">
        <p>
          <span class="d-block">Address:</span>
          <span>No 37, Sri padha Mawatha, Ratnapura</span>
        </p>
        <p><span class="d-block">Phone:</span> <span>(+94)713849715</span></p>
        <p>
          <span class="d-block">Email:</span>
          <span> ashinkashani@gmail.com</span>
        </p>
      </div>
      <div class="col-md-3 mb-5">
        <p>Sign up for our newsletter</p>
        <form action="#" class="footer-newsletter">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Your email..."
            />
            <button type="submit" class="btn">
              <span class="fa fa-paper-plane"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row bordertop pt-5">
      <p class="col-md-6 text-right social">
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-linkedin"></span></a>
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
      </p>
    </div>
  </div>
</footer>
