<div
  class="com"
  style="padding-top: 20% ; padding-left: 20%"
  style="background-image: url(/assets/ctt.jpg);background-repeat: no-repeat; background-size: cover; height: 900px; width: 1500px"
>
  <div style="padding-left: 30%; padding-top: 5%">
    <form
      class=" card  w-50 comn"
      style="width: 30rem; padding-top: 5%;padding-left: 5% ;padding-right: 5%;padding-bottom: 5%"
    >
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="inputEmail4">First Name</label>
          <input
            type="fname"
            class="form-control"
            id="inputEmail4"
            placeholder="First Name"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input
            type="lname"
            class="form-control"
            id="inputPassword4"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Company Name</label>
          <input type="cname" class="form-control" id="inputEmail4" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">No Of Employees</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Please select"
          />
        </div>
      </div>
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Phone Number</label>
          <input type="cname" class="form-control" id="inputEmail4" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Job Title</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Please select"
          />
        </div>
      </div>

      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="inputEmail4">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Email"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Country</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="1Sri Lanka"
        />
      </div>
      <div class="mb-3">
        <label for="validationTextarea">Comment*</label>
        <textarea
          class="form-control is-invalid"
          id="validationTextarea"
          placeholder="Please enter the comment"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please enter the comment.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
