<div class="com">
  <!DOCTYPE html>
  <html lang="en">
    <head> </head>
    <body>
      <section class="site-hero overlay">
        <div
          class="header-cover"
          style="background-image:url(/assets/patnerimg.jpg ); background-repeat: no-repeat; background-size: cover; height:560px;"
        >
          <div class="container">
            <div class="row site-hero-inner  align-items-center">
              <div class="col-md-15 text-center ml-auto">
                <h1 class="h">
                  Interested in becoming an Oqtave Labs <br />
                  Business Partner?
                </h1>
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="free_trail()"
                >
                  BECOME A PARTNER
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div
          class="header-cover"
          style="background-color:rgb(82, 190, 82); background-repeat: no-repeat; background-size: cover; height: 150px;"
        >
          <div class="container">
            <div class="row site-hero-inner  align-items-center">
              <div class="col-md-15 text-center ml-auto"></div>
            </div>
          </div>
        </div>
      </section>
    </body>
  </html>
</div>
